.footer {
    background: var(--background-color);
    padding: 30px 0px;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: var(--low-low-text-color);
    font-size: 0.8em;
}

.footer .footer_title {
    color: var(--low-text-color);
    width: 100%;
    font-size: 1.3em;
    font-weight: bold;
}

.footer .row a {
    text-decoration: none;
    color: var(--low-low-text-color);
}

.footer .row a:hover {
    color: var(--text-color);
}

.footer .row ul {
    width: 100%;
    padding: 0;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}