body,
html {
    margin: 0;
    overflow-x: hidden;
    background-color: var(--background-color);
}

.separator {
    cursor: pointer;
    width: 100vw;
    height: 10vh;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    line-height: 25vh;
    font-size: 20vh;
}