@font-face {
    font-family: roboto_regular;
    src: url(/fonts/Roboto-Regular.ttf);
}

body[theme="light"] {
    --background-color: rgb(238, 238, 238);
    --text-color: black;
    --low-text-color: rgb(37, 37, 37);
    --low-low-text-color: rgb(83, 83, 83);
    --glass-gradient: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
}

body[theme="dark"] {
    --background-color: black;
    --text-color: white;
    --low-text-color: rgb(212, 212, 212);
    --low-low-text-color: rgb(152, 152, 152);
    --glass-gradient: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
}

body {
    background-color: var(--background-color);
}

* {
    transition: inherit;
    font-family: roboto_regular;
    color: var(--text-color)
}

.glass_box {
    text-shadow: rgba(0, 0, 0, 0.387) 0px 0 10px;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.177);

    /* border: 1px solid rgb(187, 187, 187); */

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}


.clickable {
    height: 70px;
    display: inline-block;
    text-align: center;
    padding: 5px;
    line-height: 70px;
    font-size: 30px;
}


.clickable.glass_box:active {
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
}

.glass_box::before {
    border-radius: 30px;
    background: var(--glass-gradient);
    position: absolute;
    content: "";
    inset: 0;
    /* same as { top: 0; right: 0; bottom: 0; left: 0; } */
    /* background-image: linear-gradient(to bottom, red, orange); */
    z-index: -1;
    opacity: 1;
}

.clickable.glass_box:hover::before {
    opacity: 0;
}




[js_lang="en"] {
    display: none;
}

.clickable {
    cursor: pointer;
    user-select: none;
}