#background_canvas_light, #background_canvas_dark {
    position: absolute;
    width: 100vw;
    margin: 0;
}

#content_margins {
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 20vw;
    padding-right: 20vw;
}

.toggle_row{
    flex-direction: column;
}

#content_text_box {
    padding: 30px;
}

body,
html {
    margin: 0;
    padding: 0;
}

.toggle_row {
    top: 5vh;
    right: 5vh;
}