.half {
    transition: all 0.2s;
    display: inline;
    text-align: center;
    font-size: 70px;
    margin: 0;
    padding: 0;
}

.toggle_row {
    position: absolute;
    bottom: 5vh;
    left: 5vh;
    gap: 5vh;
    display: flex;
}

.toggle {
    vertical-align: text-bottom;
    letter-spacing: 0px;
    gap: 0px;
    display: inline-flex;

    transition: all 0.2s;
    user-select: none;
    width: fit-content;

    padding-left: 1vw;
    padding-right: 1vw;
}

.half[selected="false"] {
    font-size: 0px;
}