.half {
    display: inline;
    text-align: center;
    font-size: 70px;
    margin: 0;
    padding: 0;
}

.toggle_row {
    position: absolute;
    gap: 5vh;
    display: flex;
    z-index: 100;
}

.toggle {
    
    flex: 1 1 0;

    user-select: none;

    padding-left: 1vw;
    padding-right: 1vw;
}

.centered_toggle {
    padding: 0;
    margin: 0 auto;
    display: flex;
    width: fit-content;
}


.half[selected="false"] {
    font-size: 0px;
}