.blog_box {
    background-color: black;
    position: relative;
    height: fit-content;
}

#background_canvas {
    height: 100%;
    width: 100%;
    position: relative;
}

#blog_flex {
    z-index: 10;
    top: 0;
    position: absolute;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.blog_card {
    padding: 30px;
    margin: 30px;
    width: 300px;
    height: auto;

}

.picture_containter {
    position: relative;
    height: 200px;
    margin: auto;
}

.picture_div {
    position: absolute;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    /* margin: auto; */
    background-repeat: no-repeat;
    background-position: center;

    border: 1px solid white;
    box-sizing: border-box;
    left: 50px;
}

.picture_div.sharp {
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
}

.picture_div.bg {
    background-size: cover;
}

.blog_card_title {
    font-size: 40px;
    line-height: 45px;
}

.blog_card_subtitle {
    font-size: 15px;
    line-height: 20px;
}