* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
    background: black;
    overflow: hidden;
}

.bg {

    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    filter: blur(8px);
}



.center {
    margin-top: 5%;
    flex-flow: column;
    display: flex;
    align-items: center;
    top: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.centered {
    height: 100%;
    width: fit-content;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-flow: column;
}

.img {
    z-index: 10;
    position: relative;
    top: 30px;
    max-width: 100%;
    max-height: 60%;
    box-shadow: 0 0 50px #0009;
}

#top_n_bottom_spacing_for_img{
    margin-top: 10%;
    margin-bottom: 10%;
}

#navigation_row {
    width: 30vw;
    display: flex;
    flex-flow: row;
    border: white 3px;
    border-radius: 4px;
}

.clickable {
    z-index: 5;

    font-size: 30px;
    height: 70px;
    line-height: 60px;
    width: 100%;
    position: relative;

}


.anti_a {
    flex: 1;
    color: black;
    margin: 1vw;
}

#swup {
    width: 100vw;
    height: 100vh;
}

.prev_butt {}

.back_butt {
    z-index: 6;
}

.next_butt {}