

.head_container {
    background: var(--background-color);
    background: linear-gradient(25deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    width: 100vw;
    height: 90vh;

    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 0;

    box-sizing: border-box;

    position: relative;
}

.head_content {
    padding-top: 20vh;
}


.title {
    text-align: center;
    max-width: fit-content;
    font-size: 5vw;
    padding: 5vh;
    margin: auto;
    color: var(--text-color);
    text-shadow: 0px 0px 5px var(--background-color);
}


.text {
    margin: auto;
    width: 40%;
    color: var(--low-text-color);
    font-size: 2vh;
    padding: 10px;
    text-shadow: 0px 0px 5px var(--background-color);
}

a {
    font-weight: bold;
    transition: 0.1s;
}

a:hover {
    color: var(--text-color);
}

.head_banner {
    transition: opacity 3s;
    position: absolute;
    width: 100vw;
    height: 90vh;
    background-size: 100vw;
}