.head_container {
    background-color: rgb(230, 0, 255);
    width: 100vw;
    height: 90vh;

    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 30px;

    box-sizing: border-box;
}

.title.glass_box {

    max-width: fit-content;
    font-size: 10vh;
    padding: 5vh;

}

#spotlight_butt {
    font-size: inherit;
    top: calc(90vh - 90px);
    right: 30px;
    position: absolute;
    height: 20px;
    line-height: 20px;

    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.text {
    max-width: 30vw;
    margin: 30px;
    padding: 10px;
}