.head_container {
    background: rgb(2, 0, 36);
    background: linear-gradient(25deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    width: 100vw;
    height: 90vh;

    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 0;

    box-sizing: border-box;

    position: relative;
}

.head_content {
    padding-top: 20vh;
}


.title {
    text-align: center;
    max-width: fit-content;
    font-size: 5vw;
    padding: 5vh;
    margin: auto;
}

.spotlight_butt_style {
    font-size: inherit;
    top: calc(90vh - 90px);
    right: 5vw;
    position: absolute;
    height: 20px;
    line-height: 20px;

    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.text {
    margin: auto;
    width: 40%;
    color: #d2d2d2;
    font-size: 2vh;
    padding: 10px;
    text-shadow: #000000;
}

a {
    font-weight: bold;
    transition: 0.1s;
}

a:hover {
    color: #fff;
}

.head_banner {
    transition: opacity 3s;
    position: absolute;
    width: 100vw;
    height: 90vh;
}