@font-face {
    font-family: roboto_regular;
    src: url(/media/fonts/Roboto-Regular.ttf);
}

* {
    font-family: roboto_regular;
}

.glass_box {
    text-shadow: rgba(0, 0, 0, 0.387) 0px 0 10px;
    backdrop-filter: blur(15px);
    color: #FFF;
    border-radius: 10px;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.1);

}

.navigation_butt {
    transition: box-shadow 0.2s, background 0.2s;

    height: 70px;
    display: inline-block;
    text-align: center;
    padding: 5px;
    line-height: 70px;
    font-size: 30px;
}

.navigation_butt.glass_box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.05);
}

.navigation_butt.glass_box:active {
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
    background-color: rgba(133, 133, 133, 0);
}

[js_lang="en"]{
    display: none;
}