<!doctype html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <title>My Blog</title>
    </head>
    <body>
        <h1>{{ PostTitle }}</h1>
        <h2>{{ PostDescription }}</h2>

        {{ content }}
    </body>
</html>