<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/Indexstyle.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>
</head>

<body>
    <div class="header">
        <h1>{{pageTitle}}</h1>
        <p>{{pageSubTitle}}</p>
    </div>
    {{ content }}
</body>

</html>