<!doctype html>
<html lang="en">
    <head>
            <link rel="stylesheet" href="/css/PostStyles.css">

        <meta charset="utf-8">
        <title>My Blog</title>
    </head>
    <body>
        <headBand></headBand>

        <img src = "{{imageUrl}}">
        <h1>{{ PostTitle }}</h1>
        <h2>{{ PostDescription }}</h2>

        {{ content }}
    </body>
</html>