.header {
  cursor: pointer;
  padding: 10px;
  text-align: left;
  background: #1a8ebc;
  color: white;
  font-size: 20px;
}

.backArrow {
  display: inline;
  position: relative;
  transition: left 0.2s;
  left: -30px;
  top: 0;
}

.gal_next {
  right: 0;
}
.gal_prev {
  left: 0;
}

.gal_close {
  right: 0;
  top: 0;
}

.enlarge {
  margin: 20px;
  transition: color 0.3s;
  color: rgb(141, 141, 141);
  text-align: center;
  font-size: 100px;
}

.enlarge:hover {
  color: white;
}

#galery {
  margin: 10px;
  text-align: center;
  display: block;
  border-radius: 10px;
  padding: 10px;
  background-color: black;
  overflow: auto;
  white-space: nowrap;
}

.name {
  display: inline;
  position: relative;
  transition: left 0.2s;
  left: 0;
  top: 0;
}

.header:hover .backArrow {
  left: 0px;
}

.header:hover .name {
  left: 4px;
}

img {
  width: 50%;
  height: auto;
}

body {
  background: #f1f1f1;
  margin: 0;
  padding: 0;
}

.card {
  display: block;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

tag {
  background-color: lightgray;
  margin: 10px;
  padding: 3px;
  border-radius: 3px;
  margin-right: 0px;
}
tags {
  background-color: rgb(231, 231, 231);
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
}

marginer{
  font-family: Poppins, sans-serif;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
}