---
eleventyExcludeFromCollections: true
layout: layoutIndexPage.liquid
pageTitle: dirigity.github.io/
pageSubTitle: The main page of my blog
---

{% for post in collections.all %}
<div class="blog-card" onclick="window.location='{{ post.url }}';">
    <div class="meta">
        <div class="photo" style="background-image: url({{post.data.ThumbNailUrl}})"></div>
        <ul class="details">
            <li class="author"><a href="#">{{ post.data.Author }}</a></li>
            <li class="date">{{ post.date | date: "%Y-%m-%d" }}</li>
            <li class="tags">
                <ul>
                    {% for tag in post.data.tags %}
                    <li><a href="#">{{tag}}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    <div class="description">
        <h1>{{ post.data.PostTitle }}</h1>
        <h2>{{ post.data.PostDescription }}</h2>

        <div class="peek" > {{ post.templateContent }} </div>
    </div>
</div>
{% endfor %}